<div>
  <% @coupons.each do |coupon| %>
   <h3>Coupon</h3>
    <ul>
        <li>Coupon Code: <%= link_to coupon.coupon_code, coupon_path(coupon)%></li>
        <li>Coupon Store: <%=coupon.store%></li>
    </ul>
  <% end %>
</div>